<header>
    <div class="top-part">
      <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
          <div class="col-auto">
            <img src="assets/images/logo.png" alt="logo">
          </div>
          <div class="col">
            <ul class="menu list-unstyled d-flex justify-content-end mb-0">
              <li class="menu__item">Home</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-part">
      <div class="bottom-part__wrap">
        <h1 class="bottom-part__title text-right">learn online</h1>
        <p class="bottom-part__subtitle text-right">Study any topic, anytime. Explore thousands of courses starting at $11.99 each</p>
      </div>
    </div>
  
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-5">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9 col-md-7">
      <app-courses></app-courses>
    </div>
  </div>
</div>

